<nav>
    <div class="site-title">
        <a href="/"><h1>Mi blog de cosas</h1></a>
        <p>El mejor blog de cosas</p>
    </div>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blog/create">Nuevos</a></li> 
        <li><a href="/blog/update">Actualizar</a></li> 
    </ul>
</nav>