<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="content not-found">
        <p><%= mensajeError %></p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>