<%- include("./partials/head.ejs") %>
<body>
    <h1><%=title%></h1>
    <p>Bienvenido</p>
    <%- include("./partials/nav.ejs") %>
    <div class="content not-found">
        <p>OOPs, página no encontrada :)</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>