<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="content about">
        <h2>Te cuento mi vida</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, sit. Debitis explicabo veniam accusantium, est nisi corporis nam beatae hic, corrupti ea, impedit tempora fuga nihil incidunt dolorem reiciendis quibusdam.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus pariatur voluptatem dicta. Corporis, quidem excepturi consequuntur tempora eveniet voluptates natus omnis nesciunt minus. Maiores laudantium recusandae similique impedit ad atque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, pariatur tempore fugit voluptatum mollitia veritatis labore facere provident? Dolore natus tenetur accusamus facere! Saepe nihil beatae natus accusantium, maxime fugiat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, pariatur tempore fugit voluptatum mollitia veritatis labore facere provident? Dolore natus tenetur accusamus facere! Saepe nihil beatae natus accusantium, maxime fugiat!</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>