<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="content create-blog">
        <form method="POST" action="/">
            <label for="title">Titulo</label>
            <input type="text" id="title" name="title" required>
            <label for="resume">Resumen</label>
            <input type="text" id="resume" name="resume" required>
            <label for="body">Texto</label>
            <textarea id="body" name="body" required></textarea>
            <button type="submit">Guardar</button>
        </form>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>